# Imports

In [1]:
import pandas as pd

# Dataset
### CSV file needs some trimming before using it here. Columns not used and empty columns are removed

In [22]:
data17 = pd.read_csv("../Data/2017/2017_trimmed.csv", header=[0,1])

In [2]:
#test

# Working dataset copy

In [78]:
df = data17.copy()

In [28]:
df.head()

  Name of Area Total Population                \
      Geo_NAME    SE_A00001_001 SE_A00002_001
0  00601 ZCTA5            17599         17599
1  00602 ZCTA5            39209         39209
2  00603 ZCTA5            50135         50135
3  00606 ZCTA5             6304          6304
4  00610 ZCTA5            27590         27590

  Population Density (Per Sq. Mile)   Area (Land)   Area Total:  \
                      SE_A00002_002 SE_A00002_003 SE_A00003_001
0                          273.4985     64.347708      64.65632
1                         1280.7820     30.613331      32.33005
2                         1585.8370     31.614216      31.68504
3                          148.9987     42.309101      42.31392
4                          768.1858     35.915790      37.52661

  Area Total: Area (Land) Area Total: Area (Water) Total Population:  \
            SE_A00003_002            SE_A00003_003     SE_A02001_001
0                64.34771                 0.308610             17599
1                30.61333                 1.716716             39209
2                31.61422                 0.070821             50135
3                42.30910                 0.004821              6304
4                35.91579                 1.610819             27590

  Total Population: Male  ... Own Children under 18 Years  \
           SE_A02001_002  ...               SE_A10065_001
0                   8809  ...                        3548
1                  19231  ...                        5961
2                  24497  ...                        8973
3                   3148  ...                        1109
4                  13332  ...                        4524

  Own Children under 18 Years: Children Living with Single Parents  \
                                                     SE_A10065_002
0                                               2028
1                                               2756
2                                               4913
3                                                636
4                                               2100

     Households Households: 1-Person Household Households: 2-Person Household  \
  SE_A10066_001                  SE_A10066_002                  SE_A10066_003
0          5818                           1416                           1909
1         12719                           2938                           4219
2         19009                           5037                           6152
3          1959                            425                            701
4          9120                           2208                           2855

  Households: 3-Person Household Households: 4-Person Household  \
                   SE_A10066_004                  SE_A10066_005
0                           1318                            847
1                           2436                           2277
2                           3999                           2418
3                            337                            328
4                           1793                           1350

  Households: 5-Person Household Households: 6-Person Household  \
                   SE_A10066_006                  SE_A10066_007
0                            242                             54
1                            598                            135
2                           1171                            140
3                            138                              8
4                            685                            128

  Households: 7-or-More Person Household
                           SE_A10066_008
0                                     32
1                                    116
2                                     92
3                                     22
4                                    101

[5 rows x 2178 columns]

In [60]:
df.shape

(33120, 2178)

# Preprocess Data

## Extract zip codes

In [79]:
df.insert(0, 'zip_code', df[('Name of Area', 'Geo_NAME')].astype(str).str[:5])
df.drop('Name of Area', axis =1, inplace=True)

C:\Users\mohit\AppData\Local\Temp\ipykernel_97412\1942355198.py:2: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df.drop('Name of Area', axis =1, inplace=True)

In [80]:
df.head()

  zip_code Total Population               Population Density (Per Sq. Mile)  \
              SE_A00001_001 SE_A00002_001                     SE_A00002_002
0    00601            17599         17599                          273.4985
1    00602            39209         39209                         1280.7820
2    00603            50135         50135                         1585.8370
3    00606             6304          6304                          148.9987
4    00610            27590         27590                          768.1858

    Area (Land)   Area Total: Area Total: Area (Land)  \
  SE_A00002_003 SE_A00003_001           SE_A00003_002
0     64.347708      64.65632                64.34771
1     30.613331      32.33005                30.61333
2     31.614216      31.68504                31.61422
3     42.309101      42.31392                42.30910
4     35.915790      37.52661                35.91579

  Area Total: Area (Water) Total Population: Total Population: Male  ...  \
             SE_A00003_003     SE_A02001_001          SE_A02001_002  ...
0                 0.308610             17599                   8809  ...
1                 1.716716             39209                  19231  ...
2                 0.070821             50135                  24497  ...
3                 0.004821              6304                   3148  ...
4                 1.610819             27590                  13332  ...

  Own Children under 18 Years  \
                SE_A10065_001
0                        3548
1                        5961
2                        8973
3                        1109
4                        4524

  Own Children under 18 Years: Children Living with Single Parents  \
                                                     SE_A10065_002
0                                               2028
1                                               2756
2                                               4913
3                                                636
4                                               2100

     Households Households: 1-Person Household Households: 2-Person Household  \
  SE_A10066_001                  SE_A10066_002                  SE_A10066_003
0          5818                           1416                           1909
1         12719                           2938                           4219
2         19009                           5037                           6152
3          1959                            425                            701
4          9120                           2208                           2855

  Households: 3-Person Household Households: 4-Person Household  \
                   SE_A10066_004                  SE_A10066_005
0                           1318                            847
1                           2436                           2277
2                           3999                           2418
3                            337                            328
4                           1793                           1350

  Households: 5-Person Household Households: 6-Person Household  \
                   SE_A10066_006                  SE_A10066_007
0                            242                             54
1                            598                            135
2                           1171                            140
3                            138                              8
4                            685                            128

  Households: 7-or-More Person Household
                           SE_A10066_008
0                                     32
1                                    116
2                                     92
3                                     22
4                                    101

[5 rows x 2178 columns]

In [42]:
df.drop(df.columns[1], axis = 1, inplace=True)
df.head()

      zip_code Total Population                \
                  SE_A00001_001 SE_A00002_001
0  00601 ZCTA5            17599         17599
1  00602 ZCTA5            39209         39209
2  00603 ZCTA5            50135         50135
3  00606 ZCTA5             6304          6304
4          NaN            27590         27590

  Population Density (Per Sq. Mile)   Area (Land)   Area Total:  \
                      SE_A00002_002 SE_A00002_003 SE_A00003_001
0                          273.4985     64.347708      64.65632
1                         1280.7820     30.613331      32.33005
2                         1585.8370     31.614216      31.68504
3                          148.9987     42.309101      42.31392
4                          768.1858     35.915790      37.52661

  Area Total: Area (Land) Area Total: Area (Water) Total Population:  \
            SE_A00003_002            SE_A00003_003     SE_A02001_001
0                64.34771                 0.308610             17599
1                30.61333                 1.716716             39209
2                31.61422                 0.070821             50135
3                42.30910                 0.004821              6304
4                35.91579                 1.610819             27590

  Total Population: Male  ... Own Children under 18 Years  \
           SE_A02001_002  ...               SE_A10065_001
0                   8809  ...                        3548
1                  19231  ...                        5961
2                  24497  ...                        8973
3                   3148  ...                        1109
4                  13332  ...                        4524

  Own Children under 18 Years: Children Living with Single Parents  \
                                                     SE_A10065_002
0                                               2028
1                                               2756
2                                               4913
3                                                636
4                                               2100

     Households Households: 1-Person Household Households: 2-Person Household  \
  SE_A10066_001                  SE_A10066_002                  SE_A10066_003
0          5818                           1416                           1909
1         12719                           2938                           4219
2         19009                           5037                           6152
3          1959                            425                            701
4          9120                           2208                           2855

  Households: 3-Person Household Households: 4-Person Household  \
                   SE_A10066_004                  SE_A10066_005
0                           1318                            847
1                           2436                           2277
2                           3999                           2418
3                            337                            328
4                           1793                           1350

  Households: 5-Person Household Households: 6-Person Household  \
                   SE_A10066_006                  SE_A10066_007
0                            242                             54
1                            598                            135
2                           1171                            140
3                            138                              8
4                            685                            128

  Households: 7-or-More Person Household
                           SE_A10066_008
0                                     32
1                                    116
2                                     92
3                                     22
4                                    101

[5 rows x 2178 columns]

### Getting columns by searching for table names in second level of header

In [91]:
df.loc[:, df.columns.get_level_values(1).str.startswith('SE_A00002')]

      Total Population Population Density (Per Sq. Mile)   Area (Land)
         SE_A00002_001                     SE_A00002_002 SE_A00002_003
0                17599                        273.498500     64.347708
1                39209                       1280.782000     30.613331
2                50135                       1585.837000     31.614216
3                 6304                        148.998700     42.309101
4                27590                        768.185800     35.915790
...                ...                               ...           ...
33115                0                          0.000000     13.875555
33116              901                         16.148970     55.793031
33117             1684                         12.680840    132.798787
33118               59                          0.259136    227.679893
33119             2455                          1.135725   2161.614908

[33120 rows x 3 columns]